POSTGRES_DB=opensteps
POSTGRES_USER=opensteps
POSTGRES_PASSWORD=opensteps
DATABASE_URL=postgresql+psycopg://opensteps:opensteps@postgres:5432/opensteps
SERVICE_PRIVATE_KEY=TJibAuPpYiKgi2tn0b3r/DmYsNvLlLWUe6B85l26wbQ=
NEXT_PUBLIC_API_URL=http://localhost:8000
OPENSTEPS_API_URL=http://backend:8000

